*{
	margin:0;
	padding:0;
	box-sizing:
}
body{
	background:white;
	font-family: 'Source Sans Pro', sans-serif;
}
ul li{
	list-style:none;
}
h1{
	padding: -20px 0 15px 0;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:3.2em;
    color:#337ab7;
}
#login{
    font-size:40px;
    color:white;
    position:fixed;
    right: 20px;
    top:35px;
}
.navbar-fixed-top{
    background-color:#c7b938;
    color:#c7b938;
    height:7%;    
}
.navbar-inverse{
    background-color:#c7b938;
    background-image:-webkit-linear-gradient(top,#c7b938 0,#c7b938 100%);
}
.glyphicon{
    font-size:30px;
    right:130px;
    top:48px;
    color:white;
    position:fixed;
}
.empty{
    height:110px;
}
.nav{
	overflow:hidden;
	margin:10px 126px;
	width:750px;
}
.nav p{
    font-size:35px;
}
.nav li{
	width:230px;
	height:200px;
    margin: 5px;
	display:inline-block;
	cursor:pointer;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
}
.nav li:hover{
	opacity:1;
	height:190px;
}
.nav li.meal:hover{
	border-bottom:4px solid rgba(11, 132, 138, 1);
}
.nav li.movie:hover{
	border-bottom:4px solid rgba(241, 83, 70, 1);
}
.nav li.shopping:hover{
	border-bottom:4px solid rgba(32, 16, 49, 1);
}
.nav li.fitness:hover{
	border-bottom:4px solid rgba(228, 148, 7, 1);
}
.nav li.tourism:hover{
	border-bottom:4px solid rgba(67, 138, 15, 1);
}
img.icon{
	background:rgba(255, 255, 255, 0.4);
	padding:14px;
	border-radius:100%;
	margin:30px auto;
	display:block;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
	-webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
.nav li:hover img.icon{
	background:rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
	-webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
.nav li span{
	text-align:center;
	display:block;
	padding-top:10px;
	color:rgba(255, 255, 255, 1);
	font-size:25px;
	transition:padding-top 0.4s;
	-webkit-transition:padding-top 0.4s;
}
.nav li:hover span{
	padding-top:30px;
}

span p{
    font-size: 25px;
}


.row{
    height:150px;
}

.container-fluid{
    background-color: white;
}
.fa fa-home fa-5x{
    color:aqua;
}
.main{
    width:1000px;
	margin: 10px auto;
	background: #fff;
	padding:;
	height: 7500px;
	
}

.activity {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px 0;
}

.activity:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}

.activity span {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

.user_id {
    font-size: 16px;
    font-weight: 700;
    padding-left: 2%;
    width: 20%;
}

.description {
    width: 65%;
}

.date {
    font-size: 14px;
    padding-right: 2%;
    text-align: right;
    text-overflow: ellipsis;
    width: 15%;
}

.footer {
  background:#000;
  padding:60px 0; 
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;  
}

.footer ul {
  color:#0393ff; 
  list-style:none;
  padding-left:0px;  
}
.user_avatar .avatar{
    margin:10px;
    height:80px;
    width:80px;
}
#title{
    font-size:50px;
    left: 20px;
    margin:20px;
    color: white;
    top:40px;
}
.btn-default {
            width: 30%;
            border: 0px solid #305891;
            margin: 5px;
            padding-left: 40px;
/*            color: #305891;*/
            color: #7f8778;
            left:50px;
            top:30px;
           
}